<!-- Title Page -->
<style>
.shopify-section{
  width:100%;
}
</style>
{% section 'top-image-heading-contact' %}
<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      {% section 'map' %}
      {% section 'additional-information' %}
      {% section 'contact-form' %}
    </div>
  </div>
</section>