<!doctype html>
<html class="js js-focus-visible" lang="en" data-js-focus-visible=""><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="robots" content="noindex">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin="">
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin="">
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com"><link rel="preload" href="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.css?v=12120546918351628454" as="style">
  <link rel="preload" as="font" href="https://fonts.shopifycdn.com/archivo/archivo_n4.abb5ec97705c33fe369ef678fc93b9cf87658330.woff2?&amp;hmac=36c67363f3b2378988c15283f581b4c2a01d599180776fb2fd4b70dc998c6c38" type="font/woff2" crossorigin="">
  <link rel="preload" as="font" href="https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&amp;hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126" type="font/woff2" crossorigin="">
  <link rel="preload" as="font" href="https://fonts.shopifycdn.com/poppins/poppins_n7.58aca33913fc6666cc9e8a53f6b16ec5c3c05a3f.woff2?&amp;hmac=8d9dd384d209499b478bf98b5485682c900079f51dff31fd22117f7f73d1adda" type="font/woff2" crossorigin="">
  <link rel="preload" href="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.js?v=9991695888681990913" as="script">
  <link rel="preload" href="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/lazysizes.js?v=6309855486832407013" as="script">
  <link rel="stylesheet" href="https://use.typekit.net/ehv8evi.css"><link rel="canonical" href="https://athemes-customize.myshopify.com/pages/demo"><title>Demo
– athemes-customize</title><!-- /snippets/social-meta-tags.liquid -->




<meta property="og:site_name" content="athemes-customize">
<meta property="og:url" content="https://athemes-customize.myshopify.com/pages/demo">
<meta property="og:title" content="Demo">
<meta property="og:type" content="website">
<meta property="og:description" content="athemes-customize">





  <meta name="twitter:site" content="@shopify">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Demo">
<meta name="twitter:description" content="athemes-customize">

  
<style data-shopify="">
:root {
    --color-text: #2e2e2e;
    --color-nav: #353535;
    --color-text-rgb: 46, 46, 46;
    --color-body-text: #333232;
    --color-sale-text: #ff0a82;
    --color-menu-hover: #ff0a82;
    --color-small-button-text-border: #ffffff;
    --color-text-field: #ffffff;
    --color-text-field-text: #000000;
    --color-text-field-text-rgb: 0, 0, 0;

    --color-btn-primary: #000000;
    --color-btn-primary-darker: #000000;
    --color-btn-primary-text: #ffffff;
    --color-btn-secondary: #ffffff;

    --color-blankstate: rgba(51, 50, 50, 0.35);
    --color-blankstate-border: rgba(51, 50, 50, 0.2);
    --color-blankstate-background: rgba(51, 50, 50, 0.1);

    --color-text-focus:#545454;
    --color-overlay-text-focus:#e6e6e6;
    --color-btn-primary-focus:#404040;
    --color-btn-social-focus:#e6e6e6;
    --color-small-button-text-border-focus:#e6e6e6;
    --predictive-search-focus:#f2f2f2;

    --color-body: #ffffff;
    --color-bg: #ffffff;
    --color-bg-rgb: 255, 255, 255;
    --color-bg-alt: rgba(51, 50, 50, 0.05);
    --color-bg-currency-selector: rgba(51, 50, 50, 0.2);

    --color-overlay-title-text: #ffffff;
    --color-image-overlay: #413f36;
    --color-image-overlay-rgb: 65, 63, 54;--opacity-image-overlay: 0.0;--hover-overlay-opacity: 0.4;

    --color-border: #ffffff;
    --color-border-form: #cccccc;
    --color-border-form-darker: #b3b3b3;

    --svg-select-icon: url(//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/ico-select.svg?v=2900367270910467858);
    --slick-img-url: url(//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/ajax-loader.gif?v=4135686330247201572);

    --font-weight-body--bold: 700;
    --font-weight-body--bolder: 700;

    --font-stack-header: Archivo, serif;
    --font-style-header: normal;
    --font-weight-header: 400;

    --font-stack-body: Poppins, sans-serif;
    --font-style-body: normal;
    --font-weight-body: 400;

    --font-size-header: 25;

    --font-size-base: 14;

    --font-h1-desktop: 33;
    --font-h1-mobile: 31;
    --font-h2-desktop: 19;
    --font-h2-mobile: 17;
    --font-h3-mobile: 19;
    --font-h4-desktop: 17;
    --font-h4-mobile: 15;
    --font-h5-desktop: 14;
    --font-h5-mobile: 13;
    --font-h6-desktop: 13;
    --font-h6-mobile: 12;

    --font-mega-title-large-desktop: 62;

    --font-rich-text-large: 16;
    --font-rich-text-small: 12;

    
--color-video-bg: #f2f2f2;

    
    --global-color-image-loader-primary: rgba(46, 46, 46, 0.06);
    --global-color-image-loader-secondary: rgba(46, 46, 46, 0.12);
  }
</style>


  <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);text-transform:uppercase;letter-spacing:.1em}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}p{color:var(--color-body-text);margin:0 0 19.44444px}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{padding:3px 20px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>

  <script type="text/javascript" async="" src="https://cdn.shopify.com/s/trekkie.storefront.be59360b76b52cdfccbc9a42b0b69ec69f8e873d.min.js"></script><script>
    window.performance.mark('active:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('active:theme_stylesheet_loaded.end');
      performance.measure('active:theme_stylesheet_loaded', 'active:theme_stylesheet_loaded.start', 'active:theme_stylesheet_loaded.end');

      var url = "//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.css?v=12120546918351628454";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>

  <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.css?v=12120546918351628454" type="text/css" media="all" onload="this.media='all';onLoadStylesheet()">
  <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/additional-styles.css?v=9087012745773057001" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css" crossorigin="anonymous">
  
  <style>
    @font-face {
  font-family: Archivo;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/archivo/archivo_n4.abb5ec97705c33fe369ef678fc93b9cf87658330.woff2?&hmac=36c67363f3b2378988c15283f581b4c2a01d599180776fb2fd4b70dc998c6c38") format("woff2"),
       url("https://fonts.shopifycdn.com/archivo/archivo_n4.0ae8e008abb455fbd654c11c5b30dc47b6849133.woff?&hmac=b701c2fbc931c7db842db1f3fdfc4bf0e0b47d8e14e83252ea48329cb60441a3") format("woff");
}

    @font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6.woff2?&hmac=a26c177067467710b799e13b71d5721f54b5f733f905988a09d37a77232f0126") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c716.woff?&hmac=f99517b82b6da9de0cdfe8aceb40e4132652b5e3e3d1c3b0906fe722b210b3bf") format("woff");
}

    @font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n7.58aca33913fc6666cc9e8a53f6b16ec5c3c05a3f.woff2?&hmac=8d9dd384d209499b478bf98b5485682c900079f51dff31fd22117f7f73d1adda") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n7.59016f931f3f39434d2e458fba083eb7db7a07d9.woff?&hmac=a0a4a74efb931c7132a3c607f37b39af6fd1456988c215c0931d93fb078d2658") format("woff");
}

    @font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n7.58aca33913fc6666cc9e8a53f6b16ec5c3c05a3f.woff2?&hmac=8d9dd384d209499b478bf98b5485682c900079f51dff31fd22117f7f73d1adda") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n7.59016f931f3f39434d2e458fba083eb7db7a07d9.woff?&hmac=a0a4a74efb931c7132a3c607f37b39af6fd1456988c215c0931d93fb078d2658") format("woff");
}

    @font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_i4.a7e8d886e15d5fb9bc964a53b3278effbf270e9c.woff2?&hmac=bf8a78a8eb2fef7c9c25222b1451819ef48c692226fc1e8bad19e26309ff1778") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_i4.e87de252199e27825a41bf81646996685d86452d.woff?&hmac=220b519190126252fb1d07281d9281e0af228c722333eb1aa0e4e7a8b71562db") format("woff");
}

    @font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_i7.4f85a5d51a1aecf426eea47ac4570ef7341bfdc1.woff2?&hmac=3cff90516677e3e1b51fff62f501c532957073988956c933941fa7be666a6f06") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_i7.aff3a08a92d1c136586c611b9fc43d357dfbbefe.woff?&hmac=c3a20c77e29f3f9718c99e5540f32a666dbe42055b66d23747f6f8ab106aa588") format("woff");
}

  </style>

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: "Add to cart",
        soldOut: "Sold out",
        unavailable: "Unavailable",
        regularPrice: "Regular price",
        salePrice: "Sale price",
        sale: "Sale",
        fromLowestPrice: "from [price]",
        vendor: "Vendor",
        showMore: "Show More",
        showLess: "Show Less",
        searchFor: "Search for",
        addressError: "Error looking up that address",
        addressNoResults: "No results for that address",
        addressQueryLimit: "You have exceeded the Google API usage limit. Consider upgrading to a \u003ca href=\"https:\/\/developers.google.com\/maps\/premium\/usage-limits\"\u003ePremium Plan\u003c\/a\u003e.",
        authError: "There was a problem authenticating your Google Maps account.",
        newWindow: "Opens in a new window.",
        external: "Opens external website.",
        newWindowExternal: "Opens external website in a new window.",
        removeLabel: "Remove [product]",
        update: "Update",
        quantity: "Quantity",
        discountedTotal: "Discounted total",
        regularTotal: "Regular total",
        priceColumn: "See Price column for discount details.",
        quantityMinimumMessage: "Quantity must be 1 or more",
        cartError: "There was an error while updating your cart. Please try again.",
        removedItemMessage: "Removed \u003cspan class=\"cart__removed-product-details\"\u003e([quantity]) [link]\u003c\/span\u003e from your cart.",
        unitPrice: "Unit price",
        unitPriceSeparator: "per",
        oneCartCount: "1 item",
        otherCartCount: "[count] items",
        quantityLabel: "Quantity: [count]",
        products: "Products",
        loading: "Loading",
        number_of_results: "[result_number] of [results_count]",
        number_of_results_found: "[results_count] results found",
        one_result_found: "1 result found"
      },
      moneyFormat: "£",
      moneyFormatWithCurrency: "£ GBP",
      settings: {
        predictiveSearchEnabled: true,
        predictiveSearchShowPrice: true,
        predictiveSearchShowVendor: true
      },
      stylesheet: "//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.css?v=12120546918351628454"
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script><script src="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/theme.js?v=9991695888681990913" defer="defer"></script>
  <script src="//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/lazysizes.js?v=6309855486832407013" async="async"></script>

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "//cdn.shopify.com/s/files/1/0571/7065/7477/t/6/assets/ie11CustomProperties.min.js?v=14620839920147293620";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/57170657477/digital_wallets/dialog">
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script id="shopify-features" type="application/json">{"accessToken":"8fe54895faef0908e9eff90479ef3ce6","betas":["rich-media-storefront-analytics"],"domain":"athemes-customize.myshopify.com","predictiveSearch":true,"shopId":57170657477,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 57170657477,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "page"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "athemes-customize.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"GBP","rate":"1.0"};
Shopify.country = "GB";
Shopify.theme = {"name":"Customize Theme (2.0)","id":125007757509,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script id="__st">var __st={"a":57170657477,"offset":7200,"reqid":"f92011db-db03-49ad-887c-afba2a9d253f","pageurl":"athemes-customize.myshopify.com\/pages\/demo","s":"pages-83471597765","t":"prospect","u":"0dcb500a52d5","p":"page","rtyp":"page","rid":83471597765};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'GBP';
var meta = {"page":{"pageType":"page","resourceType":"page","resourceId":83471597765},"evids":{"pv":"Page View","vprd":"Viewed Product","ps":"Performed Search"}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 57170657477,
      theme_id: 125007757509,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "https://cdn.shopify.com/s/trekkie.storefront.be59360b76b52cdfccbc9a42b0b69ec69f8e873d.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.be59360b76b52cdfccbc9a42b0b69ec69f8e873d.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/trekkie.storefront.be59360b76b52cdfccbc9a42b0b69ec69f8e873d.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":57170657477,"isMerchantRequest":null,"themeId":125007757509,"themeCityHash":"1195673285437434113","contentLanguage":"en","currency":"GBP"},"isServerSideCookieWritingEnabled":true,"expectS2SEventId":true},"Session Attribution":{},"S2S":{"facebookCapiEnabled":false}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;
      (function () {
        if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
        }
        window.BOOMR = window.BOOMR || {};
        window.BOOMR.snippetStart = new Date().getTime();
        window.BOOMR.snippetExecuted = true;
        window.BOOMR.snippetVersion = 12;
        window.BOOMR.application = "storefront-renderer";
        window.BOOMR.themeName = "Customize";
        window.BOOMR.themeVersion = "1.0";
        window.BOOMR.shopId = 57170657477;
        window.BOOMR.themeId = 125007757509;
        window.BOOMR.url =
          "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
        var where = document.currentScript || document.getElementsByTagName("script")[0];
        var parentNode = where.parentNode;
        var promoted = false;
        var LOADER_TIMEOUT = 3000;
        function promote() {
          if (promoted) {
            return;
          }
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
          script.async = true;
          parentNode.appendChild(script);
          promoted = true;
        }
        function iframeLoader(wasFallback) {
          promoted = true;
          var dom, bootstrap, iframe, iframeStyle;
          var doc = document;
          var win = window;
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
          bootstrap = function(parent, scriptId) {
            var script = doc.createElement("script");
            script.id = scriptId || "boomr-if-as";
            script.src = window.BOOMR.url;
            BOOMR_lstart = new Date().getTime();
            parent = parent || doc.body;
            parent.appendChild(script);
          };
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
            window.BOOMR.snippetMethod = "s";
            bootstrap(parentNode, "boomr-async");
            return;
          }
          iframe = document.createElement("IFRAME");
          iframe.src = "about:blank";
          iframe.title = "";
          iframe.role = "presentation";
          iframe.loading = "eager";
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
          parentNode.appendChild(iframe);
          try {
            win = iframe.contentWindow;
            doc = win.document.open();
          } catch (e) {
            dom = document.domain;
            iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
            win = iframe.contentWindow;
            doc = win.document.open();
          }
          if (dom) {
            doc._boomrl = function() {
              this.domain = dom;
              bootstrap();
            };
            doc.write("<body onload='document._boomrl();'>");
          } else {
            win._boomrl = function() {
              bootstrap();
            };
            if (win.addEventListener) {
              win.addEventListener("load", win._boomrl, false);
            } else if (win.attachEvent) {
              win.attachEvent("onload", win._boomrl);
            }
          }
          doc.close();
        }
        var link = document.createElement("link");
        if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
          link.href = window.BOOMR.url;
          link.rel = "preload";
          link.as = "script";
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
            iframeLoader(true);
          });
          setTimeout(function() {
            if (!promoted) {
              iframeLoader(true);
            }
          }, LOADER_TIMEOUT);
          BOOMR_lstart = new Date().getTime();
          parentNode.appendChild(link);
        } else {
          iframeLoader(false);
        }
        function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
        }
        if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
        }
        if (document.addEventListener) {
          document.addEventListener("onBoomerangLoaded", function(e) {
            e.detail.BOOMR.init({
              producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
              ResourceTiming: {
                enabled: true,
                trackedResourceTypes: ["script", "img", "css"]
              },
            });
            e.detail.BOOMR.t_end = new Date().getTime();
          });
        } else if (document.attachEvent) {
          document.attachEvent("onpropertychange", function(e) {
            if (!e) e=event;
            if (e.propertyName === "onBoomerangLoaded") {
              e.detail.BOOMR.init({
                producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
                ResourceTiming: {
                  enabled: true,
                  trackedResourceTypes: ["script", "img", "css"]
                },
              });
              e.detail.BOOMR.t_end = new Date().getTime();
            }
          });
        }
      })();
    

    window.ShopifyAnalytics.lib.page(null,{"pageType":"page","resourceType":"page","resourceId":83471597765});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-eb19870e6f215e4e4acd8067d24ecfcbfee2d96d96aa8607e8fd45edf40eacc6.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script><script async="" src="//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-eb19870e6f215e4e4acd8067d24ecfcbfee2d96d96aa8607e8fd45edf40eacc6.js"></script>
<script>!function(e){e.addEventListener("DOMContentLoaded",function(){var t=['form[action^="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action^="/account"] input[name="form_type"][value="customer_login"]','form[action^="/account"] input[name="form_type"][value="recover_customer_password"]','form[action^="/account"] input[name="form_type"][value="create_customer"]'].join(",");null!==e.querySelector(t)&&(window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"},(t=e.createElement("script")).setAttribute("src","https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.5/index.js"),e.body.appendChild(t))})}(document);</script>
<script>document.addEventListener('DOMContentLoaded', function() {
  const previewBarInjector = new Shopify.PreviewBarInjector({
    targetNode: document.body,
    iframeRoot: 'https://athemes-customize.myshopify.com',
    iframeSrc: 'https://athemes-customize.myshopify.com/preview_bar',
    previewToken: 'x2kvdvv2rwld1aeg',
    themeStoreId: '',
    permanentDomain: 'athemes-customize.myshopify.com',
  });
  previewBarInjector.init();
});</script>
<script integrity="sha256-pVJhp6mHZ0dJmJmDtYierarGeV2NSFSPthRwqW7blSQ=" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-a55261a7a987674749989983b5889eadaac6795d8d48548fb61470a96edb9524.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script integrity="sha256-HjpxOt032ssmooRgVOW/c8loNAwGy026qLmF3OAx9M0=" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/bars/preview_bar_injector-1e3a713add37dacb26a2846054e5bf73c968340c06cb4dbaa8b985dce031f4cd.js" crossorigin="anonymous"></script>


<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/css/swiper.css" integrity="sha512-q+kXo13I4pozTwj5tygKqn4W07+lnPc0csRnPlhL+n84HXztONBvOUAEW0GBk6SRndeh70voQ50EC3lVNeDo/g==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/css/swiper.min.css" integrity="sha512-jXiTcbR0Bo1fD009BCOo3FHIHD1bdN+ARxEXBkTD/xoQDL+zzv1CRbgUoOzWw81slbD1t6MawbtjOR3x9BB7eA==" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/js/swiper.js" integrity="sha512-dHnIKtCZYsb8jGK+XDM/1AV9lGC5DZaN7G7Xg0aUzmc3m29g4QlcL7nQcfxSGjDrPsoYwddqSr+lNOFXZizhug==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/js/swiper.min.js" integrity="sha512-dEcJn+6xTNTBfFsnzrF7r6P8/TkR6RxRrrisTKW6Wd+6LzedLBG6AvVB8X0tvcNYka6Csf4Vci5Isemo12apIw==" crossorigin="anonymous"></script>
  <script>
    window.addEventListener('load', function () {
      $('.swiper-container').css('opacity','1');
    });
  </script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="module" defer="" src="https://cdn.shopify.com/shopifycloud/consent-tracking-api/v0.1/consent-tracking-api.js"></script><link href="https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js" rel="preload" as="script"><script id="boomr-scr-as" src="https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js" async=""></script><style type="text/css">
@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
}</style></head>

<body class="template-page">
  <a class="in-page-link visually-hidden skip-link" href="https://athemes-demo-theme.myshopify.com/" aria-describedby="a11y-external-message">Skip to content</a><style data-shopify="">

  .cart-popup {
    box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 0.5);
  }</style><div class="cart-popup-wrapper cart-popup-wrapper--hidden critical-hidden" role="dialog" aria-modal="true" aria-labelledby="CartPopupHeading" data-cart-popup-wrapper="">
  <div class="cart-popup" data-cart-popup="" tabindex="-1">
    <div class="cart-popup__header">
      <h2 id="CartPopupHeading" class="cart-popup__heading">Just added to your cart</h2>
      <button class="cart-popup__close" aria-label="Close" data-cart-popup-close="" onclick="location.href=&quot;https://athemes-demo-theme.myshopify.com/&quot;"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg></button>
    </div>
    <div class="cart-popup-item">
      <div class="cart-popup-item__image-wrapper hide" data-cart-popup-image-wrapper="" data-image-loading-animation=""></div>
      <div class="cart-popup-item__description">
        <div>
          <h3 class="cart-popup-item__title" data-cart-popup-title=""></h3>
          <ul class="product-details" aria-label="Product details" data-cart-popup-product-details=""></ul>
        </div>
        <div class="cart-popup-item__quantity">
          <span class="visually-hidden" data-cart-popup-quantity-label=""></span>
          <span aria-hidden="true">Qty:</span>
          <span aria-hidden="true" data-cart-popup-quantity=""></span>
        </div>
      </div>
    </div>

    <a href="https://athemes-demo-theme.myshopify.com/" class="cart-popup__cta-link btn btn--secondary-accent" aria-describedby="a11y-external-message">
      View cart (<span data-cart-popup-cart-quantity=""></span>)
    </a>

    <div class="cart-popup__dismiss">
      <button class="cart-popup__dismiss-button text-link text-link--accent" data-cart-popup-dismiss="" onclick="location.href=&quot;https://athemes-demo-theme.myshopify.com/&quot;">
        Continue shopping
      </button>
    </div>
  </div>
</div>



  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      <div id="shopify-section-template--14820669292741__16270566903e10301a" class="shopify-section index-section"><div class="page-width feature-row">
  

  <div class="feature-row">
    
      
    <div class="feature-row__item">
      
        
        
<style>#FeatureRowImage-template--14820669292741__16270566903e10301a {
    max-width: 429.61328125px;
    max-height: 545px;
  }

  #FeatureRowImageWrapper-template--14820669292741__16270566903e10301a {
    max-width: 429.61328125px;
  }
</style>

        <div id="FeatureRowImageWrapper-template--14820669292741__16270566903e10301a" class="feature-row__image-wrapper js">
          <div style="padding-top:126.8582755%;">
            <img id="FeatureRowImage-template--14820669292741__16270566903e10301a" class="feature-row__image rounded-all lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.78828125" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_180x.png?v=1627056943 180w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_360x.png?v=1627056943 360w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_540x.png?v=1627056943 540w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_720x.png?v=1627056943 720w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_900x.png?v=1627056943 900w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1080x.png?v=1627056943 1080w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1296x.png?v=1627056943 1296w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1512x.png?v=1627056943 1512w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1728x.png?v=1627056943 1728w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_2048x.png?v=1627056943 2048w" sizes="430px" srcset="//cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_180x.png?v=1627056943 180w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_360x.png?v=1627056943 360w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_540x.png?v=1627056943 540w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_720x.png?v=1627056943 720w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_900x.png?v=1627056943 900w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1080x.png?v=1627056943 1080w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1296x.png?v=1627056943 1296w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1512x.png?v=1627056943 1512w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_1728x.png?v=1627056943 1728w, //cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_2048x.png?v=1627056943 2048w">
          </div>
        </div>

        <noscript>
          <img src="//cdn.shopify.com/s/files/1/0571/7065/7477/files/robot-161367_1280_600x600@2x.png?v=1627056943" alt="" class="feature-row__image" />
        </noscript>
      
    </div>
  
    

    <div class="feature-row__item feature-row__text feature-row__text--left">
      
            <p style="font-size: 30px; font-weight: 500; color: #000;" class="h3">Confirm you're not a robot by clicking "Continue" and typing in the password "<span style="color: red">demo</span>"</p>
          
          
          <p style="text-align: ; font-size: 16px; font-weight: 500; color: #000;" class="sc-main-text">
            We take precautionary measures to make sure bot computers don't go through checkout on our demo stores.
          </p>
          
          
            <button style="margin-left: 0; margin-right: 0;
            color: #fff;
            border: 1px solid #000;
            background: #000;
            " onclick="location.href=&quot;https://athemes-demo-theme.myshopify.com/&quot;" class="sc-btn">
              Continue
            </button>
          
    </div>

    
  </div>
</div>
<style>
  #shopify-section-template--14820669292741__16270566903e10301a {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  </style>



</div>
    </main>
    

    

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">Use left/right arrows to navigate the slideshow or swipe left/right if using a mobile device</div>

  </div>

  <ul hidden="">
    <li id="a11y-refresh-page-message">Choosing a selection results in a full page refresh.</li>
    <li id="a11y-selection-message">Press the space key then arrow keys to make a selection.</li>
  </ul>
<script>
var links = document.getElementsByTagName("a");

for (var i = 0; i < links.length; i++) {
    var href = links[i].href; 
    links[i].href = "https://athemes-demo-theme.myshopify.com/";
}
  
var buttons = document.getElementsByTagName("button");

for (var i = 0; i < buttons.length; i++) {
    $(buttons[i]).attr("onclick",'location.href="https://athemes-demo-theme.myshopify.com/"');
}
</script>




<iframe title="Preview Bar" id="preview-bar-iframe" src="https://athemes-customize.myshopify.com/preview_bar" sandbox="allow-same-origin allow-scripts" style="position: fixed; transform: translateY(100%); border: none;"></iframe><ul hidden="true"><li id="a11y-new-window-message">Opens in a new window.</li><li id="a11y-external-message">Opens external website.</li><li id="a11y-new-window-external-message">Opens external website in a new window.</li></ul></body><loom-container id="lo-engage-ext-container"><loom-shadow classname="resolved"></loom-shadow></loom-container></html>

